Repository Grupinix/Xadrez, pull requests merged in 2023-05, with the labels that each got.

#67 #39 feat: possibility of theme creation.
  backend/src/main/java/br/com/eterniaserver/xadrez/domain/service/impl/PlayerServiceImpl.java
  frontend/public/themes/default.css
  frontend/public/themes/default/logo.webp
  frontend/public/themes/default/pieces/BISHOP_BLACK.webp
  frontend/public/themes/default/pieces/BISHOP_WHITE.webp
  frontend/public/themes/default/pieces/HORSE_BLACK.webp
  frontend/public/themes/default/pieces/HORSE_WHITE.webp
  frontend/public/themes/default/pieces/KING_BLACK.webp
  frontend/public/themes/default/pieces/KING_WHITE.webp
  frontend/public/themes/default/pieces/PAWN_BLACK.webp
  frontend/public/themes/default/pieces/PAWN_WHITE.webp
  frontend/public/themes/default/pieces/QUEEN_BLACK.webp
  frontend/public/themes/default/pieces/QUEEN_WHITE.webp
  frontend/public/themes/default/pieces/TOWER_BLACK.webp
  frontend/public/themes/default/pieces/TOWER_WHITE.webp
  frontend/src/App.vue
  frontend/src/layouts/BaseFooter.vue
  frontend/src/layouts/BaseHeader.vue
  frontend/src/router/index.ts
  frontend/src/services/themeService.ts
  frontend/src/views/EnterView.vue
  frontend/src/views/HomeView.vue
  frontend/src/views/PlayerVsIa.vue
  frontend/src/views/PlayerVsIaView.vue
  frontend/src/views/SettingsView.vue
Labels: frontend, implementation

#79 Adds new game statuses
  backend/src/main/java/br/com/eterniaserver/xadrez/domain/ia/impl/GameIaImpl.java
  backend/src/main/java/br/com/eterniaserver/xadrez/domain/service/GameService.java
  backend/src/main/java/br/com/eterniaserver/xadrez/rest/controllers/GameController.java
  backend/src/test/java/br/com/eterniaserver/xadrez/domain/service/GameServiceUnitTest.java
Labels: backend, implementation

#85 Adds updated english readme
  README.md
  frontend/public/game-screenshot.png
  frontend/public/readme-badges/css-3.svg
  frontend/public/readme-badges/docker.svg
  frontend/public/readme-badges/html-5.svg
  frontend/public/readme-badges/java-17.svg
  frontend/public/readme-badges/nodejs-18.svg
  frontend/public/readme-badges/postgresql-14.svg
  frontend/public/readme-badges/spring-boot-3.svg
  frontend/public/readme-badges/typescript-4.svg
  frontend/public/readme-badges/vue-3.svg
Labels: documentation

#86 Contributors, issues e badges do SonarCloud adicionados ao README
  README.md
Labels: documentation

#95 theme: Chad
  frontend/public/themes/chad.css
  frontend/public/themes/chad/logo.webp
  frontend/public/themes/chad/pieces/BISHOP_BLACK.webp
  frontend/public/themes/chad/pieces/BISHOP_WHITE.webp
  frontend/public/themes/chad/pieces/HORSE_BLACK.webp
  frontend/public/themes/chad/pieces/HORSE_WHITE.webp
  frontend/public/themes/chad/pieces/KING_BLACK.webp
  frontend/public/themes/chad/pieces/KING_WHITE.webp
  frontend/public/themes/chad/pieces/PAWN_BLACK.webp
  frontend/public/themes/chad/pieces/PAWN_WHITE.webp
  frontend/public/themes/chad/pieces/QUEEN_BLACK.webp
  frontend/public/themes/chad/pieces/QUEEN_WHITE.webp
  frontend/public/themes/chad/pieces/TOWER_BLACK.webp
  frontend/public/themes/chad/pieces/TOWER_WHITE.webp
  frontend/src/services/themeService.ts
Labels: frontend

#101 Tema do desenvolvedor
  frontend/public/themes/developer-chess.css
  frontend/public/themes/developer-chess/binary-wallpaper.webp
  frontend/public/themes/developer-chess/logo.webp
  frontend/public/themes/developer-chess/pieces/BISHOP_BLACK.webp
  frontend/public/themes/developer-chess/pieces/BISHOP_WHITE.webp
  frontend/public/themes/developer-chess/pieces/HORSE_BLACK.webp
  frontend/public/themes/developer-chess/pieces/HORSE_WHITE.webp
  frontend/public/themes/developer-chess/pieces/KING_BLACK.webp
  frontend/public/themes/developer-chess/pieces/KING_WHITE.webp
  frontend/public/themes/developer-chess/pieces/PAWN_BLACK.webp
  frontend/public/themes/developer-chess/pieces/PAWN_WHITE.webp
  frontend/public/themes/developer-chess/pieces/QUEEN_BLACK.webp
  frontend/public/themes/developer-chess/pieces/QUEEN_WHITE.webp
  frontend/public/themes/developer-chess/pieces/TOWER_BLACK.webp
  frontend/public/themes/developer-chess/pieces/TOWER_WHITE.webp
  frontend/src/services/themeService.ts
  frontend/src/views/HomeView.vue
  frontend/src/views/SettingsView.vue
Labels: frontend
